h1 {
    font-style: italic;
    text-decoration: underline;
    color: rgb(255, 255, 255);

}

    #HeaderBG{
        background-color: #282c34;
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(20px + 3vmin);
        
    }